  
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-size:contain;
    background-position:cover;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: pink; */
    position: relative;

}
nav{
    width: 100%;
    height:4rem;
    background-color: grey;
    padding: 15px;
    box-shadow: 3px 4px 5px rgba(187, 46, 46, 0.471);
    text-align: center;
    position: sticky;
    overflow:hidden;
    top:0;
    z-index: 6;
}

  
  li {
    display:inline-block;
    font-size: 18px;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 26px;
    text-decoration: none;
  
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  /* styling the background text */
  .background-text{
    margin-top: 20%;
    font-size: 30px;
    color: greenyellow;
  }
  .background-text h1{
    font-size: 35px;
    margin-top:15px;
  }
  .background-text h1 span{
    color:rgb(205, 15, 47);
  }

#about{
    padding: 30px 0;
    color: white;
    background-color: rgb(22, 21, 21);
 
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    height:600px;
    border-radius:15px;
    position:relative;
}
.about-col-1 img:hover{
    transform: scale(1.1);
    transition: all 1s ease-in;
}

.about-col-2 {
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: 20px;
    /* font-display:inherit; */
    margin-bottom: 2px;;
    border-spacing: 2px;
    /* font-style: oblique; */
    text-align: justify;
    
}
.sub-title{
    font-size: 45px;
    font-weight: 200px;
    color:white;
    font-style:normal;
}

.tab-titles{
  display:flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 180px;
  font-size: 18px;
  font-weight: 500;
  cursor:pointer;
  position: relative;
}
.tab-links::after{
  content:'';
  width: 0;
  height: 3px;
  background: purple;
  position: absolute;
  left:0;
  bottom:-8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width:100%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
  display:block;
}
.tab-contents ul li span{
  color:plum ;
  font-size: 14px;
}
.tab-contents{
  display:none;
}
.tab-contents.active-tab{
display:block;
}
/* creating the services section */
#services{
  padding: 30px 0;
  background-color: black;
  
}
.services-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  color:white;
}
.services-list div{
  background-color: purple;
  padding:40px;
  font-weight: 300;
  border-radius: 15px;
  transition: background0.5s, transform 0.5s;
}
.services-list div i{
  margin-bottom: 30px;
}
.services-list div h2{
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color:white;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background-color: rgb(218, 24, 57);
  transform: translateY(-10px);
}
.linkedin-icon{
  margin: 10px 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-size: larger;
  /* font-style: italic; */
}
.findmore{
  margin: 10px 20px;
  font-size: 30px;
  display:flex;
}
.github-icon{
  margin: 10px 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: larger;
  font-style: italic;
}
.twitter-icon{
  margin: 10px 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-size: larger;
  font-style: italic;
}